<div class="doc-container">
  <div class="doc-content">
    <div class="list-header">
      <h4 class="listtitle">Lista de Processos</h4>
      <div class="list-buttons">
        <a routerLink='/register-doc' class="btn waves-effect waves-light green darken-3">Novo Processo</a>
      </div>
    </div>
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="row" style="font-weight: bold;">
          <div class="col s3">Código</div>
          <div class="col s3">Unidade Competente</div>
          <div class="col s3">Número SEI</div>
          <div class="col s3">Ações</div>
        </div>
      </li>

      <li *ngFor="let doc of documents" class="collection-item">
        <div class="row" style="margin-bottom: 0;">
          <div class="col s3">{{ doc.cod }}</div>
          <div class="col s3">{{ doc.competentUnit }}</div>
          <div class="col s3">{{ doc.numberSei }}</div>
          <div class="col s3">
            <div>
              <a [routerLink]="['/document', doc.id]" class="btn-small blue darken-3">Visualizar</a>
            </div>
        </div>
        </div>
      </li>
    </ul>
  </div>
</div>
