<div class="login-container">
  <div class="login-content">
    <h1>Login</h1>
    <div class="row">
      <div class="input-field col s12">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <a routerLink="/login" class="btn waves-effect waves-light blue darken-3">Login</a>
    <p>Não tem uma conta? <a a routerLink="/register" class="blue-text">Cadastre-se aqui</a></p>
  </div>
</div>
