<div class="doc-container">
<div  class="doc-content">
    <form (ngSubmit)="onSubmit()">
      <div class="doc-header">
        <h1 class="doc-title">Nova Linha</h1>
        <div class="doc-buttons">
          <a routerLink="/register-doc" class="btn waves-effect waves-light red darken-3">Cancelar</a>
          <button type="submit" class="btn waves-effect waves-light blue darken-3">Salvar</button>
        </div>
      </div>
      <div class="row center-fields">
        <div class="input-field col s12 m4">
          <input id="cod" type="text" class="validate" [(ngModel)]="formData.cod" name="cod">
          <label for="cod">Código</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="competentUnit" type="text" class="validate" [(ngModel)]="formData.competentUnit" name="competentUnit">
          <label for="competentUnit">Tipo</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="requestingUnit" type="text" class="validate" [(ngModel)]="formData.requestingUnit" name="requestingUnit">
          <label for="requestingUnit">Unidade Requerente</label>
        </div>
      </div>
      <div class="row center-fields">
        <div class="input-field col s12 m4">
          <input id="investiment" type="text" class="validate" [(ngModel)]="formData.investiment" name="investiment">
          <label for="investiment">Investimento</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="codPdm" type="text" class="validate" [(ngModel)]="formData.codPdm" name="codPdm">
          <label for="codPdm">Código PDM</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="catmat" type="text" class="validate" [(ngModel)]="formData.catmat" name="catmat">
          <label for="catmat">CATMat</label>
        </div>
      </div>
      <div class="row center-fields">
        <div class="input-field col s12 m4">
          <input id="catser" type="text" class="validate" [(ngModel)]="formData.catser" name="catser">
          <label for="catser">CATSer</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="codSubClassCnae" type="text" class="validate" [(ngModel)]="formData.codSubClassCnae" name="codSubClassCnae">
          <label for="codSubClassCnae">Código Subclasse CNAE</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="descriptionCnae" type="text" class="validate" [(ngModel)]="formData.descriptionCnae" name="descriptionCnae">
          <label for="descriptionCnae">Descrição CNAE</label>
        </div>
      </div>
      <div class="row center-fields">
        <div class="input-field col s12 m6">
          <input id="object" type="text" class="validate" [(ngModel)]="formData.object" name="object">
          <label for="object">Objeto</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="numberSei" type="text" class="validate" [(ngModel)]="formData.numberSei" name="numberSei">
          <label for="numberSei">Número SEI</label>
        </div>
      </div>
    </form>
    <div>
      <app-register-item-page  [formDataItem]="formDataItem"></app-register-item-page>
    </div>
  </div>
</div>
