.page-footer {
  position: static;
  bottom: 0;
  width: 100%;
  padding: 10px; /* Espaçamento interno do rodapé (opcional) */
  background-color: #50b0ff
}

.footer-copyright{
  text-align: center;
  background-color: #3f9ce7
}
