<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Pac 2025</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="home-page.component.html">Home</a></li>
      <li><a href="cadastro.html">Cadastro</a></li>
      <li><a href="listagem.html">Listagem</a></li>
      <li><a href="sobre.html">Sobre</a></li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo" #mobile>
  <li><a href="home-page.component.html">Home</a></li>
  <li><a href="cadastro.html">Cadastro</a></li>
  <li><a href="listagem.html">Listagem</a></li>
  <li><a href="sobre.html">Sobre</a></li>
</ul>
